HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

pom.xml.versionsBackup
out
service-order-scenicspot-api/target
service-order-scenicspot-facade/target
service-order-scenicspot-common/target
service-order-scenicspot-sdk-cloud/target
service-order-scenicspot-sdk/target



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
logs
